<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8 "/>
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content = "ie=edge" />
        <title>{% block title %}Welcome{% endblock %}</title>
        <link rel = "stylesheet" type="text/css" href = "{{ url_for('static', filename='styles/style.css')}}" >
        
    </head>
    <body>
        <div class="search-box">
            <input type="text" placeholder ="Search here..."/>
        </div>
        <div class = "nav-container">
            <div class="wrapper">
                <nav>
                    <div class = "name">
                        MIKA SHAW
                    </div>
                    <ul class = "nav-items">
                        <li>
                            <a href="#">
                                Try it out
                            </a>
                        </li>
                        <li>
                            {% if session['google_id'] %}
                            <a href = "/logout">
                                Logout
                            </a>
                            {% else %}
                            <a href="/login">
                                Login/Create Account
                            </a>
                            {% endif %}
                            
                        </li>
                        <li>
                            <a class="nav-btn-container" href="#">
                                <img class = "search-btn" src = "static/images/search-icon.svg" alt = ""/>
                                <img class = "close-btn" src = "static/images/close-icon.svg" alt="" />
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class = "container">{%block content%}{%endblock%}</div>
        <script src="{{url_for('static', filename = 'main.js')}}"></script>
    </body>
</html>
