{% extends "base.html"%}
{% block title %}Homepage{%endblock%}
{%block content%}
<div class="header-container">
    <div class = "wrapper">
        <header>
            <div class = "hero-content">
                <h1>Muse.AI</h1>
                <p>Finding the best music recommendations using powerful deep learning algorithims</p>
            </div>
            <div class = "hero-image">
                <img src = "static/images/wave.svg" alt="">
            </div>
        </header>
    </div>
</div>
{%endblock%}