{% extends "base.html" %}
{%block title%}login{%endblock%}
{% block content %}
<div class = "wrapper">
<h2>Login to your account</h2>
<div class = "login-container">
<div class = "row">
    
    <div class = "form-content">
        <form method="POST" id="main"> 
            
            <div class = "input-parent">
            <label for="email">Please enter your email.</label>
            <input type="email" id="email" name="email">
            </div>
            <br/>
            <div class = "input-parent">
            <label for ="password">Please enter a valid password.</label>
            <input type="password" id="password" name="password">
            </div>
            <br/>
            <button type = "submit">Login</button>
       
        </form>
    </div>
   
</div>          
    <br/>
    <h1>//</h1>
    <br/>
<div class = "row">
    
    <div class ="google-submit">
        <form method="POST" id="main">
           
            <input type="submit" id="google-button" name="google-button" value="Sign in with Google">
        </form>
    </div>
    
</div>
   

</div>
</div>
{% endblock %}